<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324359041171-aaa54mukelkdorij62cs1lq48sfnsn0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324359041171-aaa54mukelkdorij62cs1lq48sfnsn0o</string>
	<key>API_KEY</key>
	<string>AIzaSyBlNPSfDGm2EvSg5Au8lx0yGUOluyvNjyc</string>
	<key>GCM_SENDER_ID</key>
	<string>324359041171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pythogen.examCalc</string>
	<key>PROJECT_ID</key>
	<string>examscore-9422674153</string>
	<key>STORAGE_BUCKET</key>
	<string>examscore-9422674153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324359041171:ios:3fd590fb270dbb4f665d66</string>
</dict>
</plist>